@media only screen and (orientation: landscape) {

  /* Defining each sectino background and styles
  * --------------------------------------- */
  #section0{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.yonsei.ac.kr%2Fen_sc%2Fyonsei_news.jsp%3Farticle_no%3D167564%26mode%3Dview&psig=AOvVaw0E4ZfyQ8cXb0fCGHKHSa5z&ust=1605745163462000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCn08briu0CFQAAAAAdAAAAABAS);
    padding: 6% 0 0 0;
  }

  #section1{
    background-image: url(/assets/img/big/universe2.jpg);
    padding: 6% 0 0 0;
  }

  #section2{
    background-image: url(/assets/img/big/universe3.jpg);
    padding: 6% 0 0 0;
  }
  #section3{
    background-image: url(/assets/img/big/universe4.jpg);
    padding: 6% 0 0 0;
  }
  #section4{
    background-image: url(/assets/img/big/universe5.jpg);
    padding: 6% 0 0 0;
  }



}

@media only screen and (orientation: portrait) {



      /* Defining each section background and styles on portrait orientation
      * --------------------------------------- */
      #section0{
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.yonsei.ac.kr%2Fen_sc%2Fyonsei_news.jsp%3Farticle_no%3D167564%26mode%3Dview&psig=AOvVaw0E4ZfyQ8cXb0fCGHKHSa5z&ust=1605745163462000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCn08briu0CFQAAAAAdAAAAABAS);
        padding: 6% 0 0 0;
      }

      #section1{
        background-image: url(/assets/img/tablet/universe2.jpg);
        padding: 6% 0 0 0;
      }

      #section2{
        background-image: url(/assets/img/tablet/universe3.jpg);
        padding: 6% 0 0 0;
      }
      #section3{
        background-image: url(/assets/img/tablet/universe4.jpg);
        padding: 6% 0 0 0;
      }
      #section4{
        background-image: url(/assets/img/tablet/universe5.jpg);
        padding: 6% 0 0 0;
      }




}
