@media only screen and (orientation: landscape) {

  /* Defining each sectino background and styles
  * --------------------------------------- */
  #section0{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fglc.yonsei.ac.kr%2F_attach%2Fimage%2F2020%2F07%2Fthumb_FeaMrArouXgoxWtfmloG.png&imgrefurl=https%3A%2F%2Fglc.yonsei.ac.kr%2Fgld_new%2Fmedia%2Fmedia01.do&tbnid=a9-HS_tk1w3B_M&vet=12ahUKEwi8jeiB6YrtAhVW82EKHQP5BwgQMygFegUIARCsAQ..i&docid=VcRYlmgJZDIAaM&w=230&h=144&q=glc%20%EC%97%B0%EC%84%B8%EB%8C%80%ED%95%99%EA%B5%90&ved=2ahUKEwi8jeiB6YrtAhVW82EKHQP5BwgQMygFegUIARCsAQ);
    padding: 6% 0 0 0;
  }

  #section1{
    background-image: url(/assets/img/big/universe2.jpg);
    padding: 6% 0 0 0;
  }

  #section2{
    background-image: url(/assets/img/big/universe3.jpg);
    padding: 6% 0 0 0;
  }
  #section3{
    background-image: url(/assets/img/big/universe4.jpg);
    padding: 6% 0 0 0;
  }
  #section4{
    background-image: url(/assets/img/big/universe5.jpg);
    padding: 6% 0 0 0;
  }



}

@media only screen and (orientation: portrait) {



      /* Defining each section background and styles on portrait orientation
      * --------------------------------------- */
      #section0{
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fglc.yonsei.ac.kr%2Fgld_new%2Fmedia%2Fmedia01.do&psig=AOvVaw0E4ZfyQ8cXb0fCGHKHSa5z&ust=1605745163462000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCn08briu0CFQAAAAAdAAAAABAE);
        padding: 6% 0 0 0;
      }

      #section1{
        background-image: url(/assets/img/tablet/universe2.jpg);
        padding: 6% 0 0 0;
      }

      #section2{
        background-image: url(/assets/img/tablet/universe3.jpg);
        padding: 6% 0 0 0;
      }
      #section3{
        background-image: url(/assets/img/tablet/universe4.jpg);
        padding: 6% 0 0 0;
      }
      #section4{
        background-image: url(/assets/img/tablet/universe5.jpg);
        padding: 6% 0 0 0;
      }




}
